body{
    background: #111929;
    font-family: Arial;
}

.profile-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.socials{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.bold{
    margin-left: 1px;
    font-size: 30px;
}

.title{
    text-align: center;
    color: #FACC16;
}

h1.h1{
    color: #FACC16;
}

hr.hr{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.text{
    font-size: 20px;
    color: gray;
}

.msg{
    font-family: Arial;
    color: white;
    max-width: 500px;
    padding-bottom: rem;
}

.image{
    background: #C6CFD4;
    text-align: center;
    width: 440px;
    height: 440px;
    border-radius: 20px;
}

.image img{
    height: 440px;
}

.image2 img{
    display: flex;
    width: 440px;
    height: 440px;
    border-radius: 20px;
}

.image3 img{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    padding: 1rem;
}

.image4 img{
    display: flex;
    width: 440px;
    height: 330px;
    border-radius: 20px;
}

.image5{
    display: flex;
    justify-content: center;
    text-align: center;
}

.image5 img{
    width: 110px;
    height: 110px;
    padding: 0 2rem;
}

.reference{
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.reference:hover{
    text-decoration: underline;
}
